
@{
}
<h1>Kogels kopen</h1>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <a asp-action="Kopen" asp-route-aantal="2"><button class="knopke knopke2">Koop 2 kogels voor €1</button></a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a asp-action="Kopen" asp-route-aantal="7"><button class="knopke knopke2">Koop 7 kogels voor €4</button></a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a asp-action="Kopen" asp-route-aantal="12"><button class="knopke knopke2">Koop 12 kogels voor €7</button></a>
    </div>
  
</div>
